*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #f7fbfc; }

::selection {
  background-color: #1e354c;
  color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #1e354c; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-extralarge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-extralarge {
  margin-top: 10rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.background {
  background-color: #f7fbfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 70rem;
  width: 55rem;
  border-radius: 5px;
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.1); }

.items {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .items__location {
    font-size: 1.5rem;
    font-weight: 300; }
  .items__photo {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    border: 1.2rem solid #f7fbfc; }
  .items__name {
    font-size: 2.5rem;
    font-weight: 300; }
  .items__about {
    font-size: 1.2rem;
    text-align: center; }
  .items__button {
    border: none;
    border-bottom: 0.4rem solid #477db3;
    background-color: #66b3ff;
    border-radius: 8px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    padding: 1.2rem 4rem; }

.bottom-bar {
  display: flex;
  width: 100%;
  background-color: #1e354c;
  color: #ff6666; }
  .bottom-bar__favorites {
    flex: 0 0 33.3333333%;
    text-align: center; }
  .bottom-bar__posts {
    flex: 1;
    text-align: center; }
  .bottom-bar__messages {
    flex: 1;
    text-align: center; }
