//Colors
$color-grey: #f7fbfc;
$color-blue-dark: #1e354c;
$color-white: #fff;
$color-red: #ff6666;
$color-blue-medium: #477db3;
$color-blue-light: #66b3ff;
//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font Sizes
$default-font-size: 1.6rem;
