.card {
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	height: 70rem;
	width: 55rem;
	border-radius: 5px;
	box-shadow: 0 0.1rem 2rem rgba($color-black, 0.1);
	overflow: hidden;
}

.items {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 4rem;

	&__location {
		font-size: 1.5rem;
		font-weight: 300;
		margin-top: 3rem;
	}

	&__photo {
		height: 25rem;
		width: 25rem;
		border-radius: 50%;
		border: 1.2rem solid $color-grey;
		margin-top: 1rem;
	}

	&__name {
		font-size: 3rem;
		font-weight: 300;
		margin-top: 1rem;
	}

	&__about {
		font-size: 1.6rem;
		text-align: center;
		margin-top: 1.5rem;
	}

	&__button {
		margin-top: 4rem;
		border: none;
		border-bottom: 0.4rem solid $color-blue-medium;
		background-color: $color-blue-light;
		border-radius: 8px;
		font-size: 2.5rem;
		font-weight: bold;
		color: $color-white;
		padding: 1.5rem 5rem;
	}
}

.bottom-bar {
	display: flex;
	width: 100%;
	font-size: 1.8rem;
	background-color: $color-blue-dark;
	color: $color-red;
	line-height: 1.5;

	span {
		color: $color-white;
	}

	&__favorites,
	&__posts,
	&__messages {
		flex: 1;
		text-align: center;
		align-self: stretch;
		padding: 2.5rem;
	}

	&__favorites,
	&__posts {
		border-right: 1px solid $color-blue-medium;
	}
}
